body{
    margin: 7%;
    background-color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
}
h1{
    color: rgba(235, 18, 36, 0.603);
}
p{
    margin-bottom: 35px;
}
a{
    text-decoration: none;
    background-color: #d8ae396c;
    padding: 10px 10px;
    border-radius: 25px;
    transition: 0.3s;
}
a:visited{
    color: rgb(24, 6, 6);
}
a:hover{
    color: green;
}
.text-center{
    text-align: center;
    color: rgba(235, 18, 36, 0.603);
}
.devision-one{
    display: flex;
}
.devision-one img{
    width: 80%;
}
#text-center{
    text-align: center;
}
.one-item img{
    width: 200px;
    height: 100px;
}
.fas.fa-star.fill{
    color: rgb(228, 171, 96);
}
.fas.fa-star.empty{
    color: rgb(199, 192, 192);
}
.container{
    display: flex;
}
.part-of-last{
    text-align: center;
    background-color: #f8e6e6e8;
    padding: 30px;
}